a {
    color: rgb(255, 255, 255);

    &:hover {
        color: chartreuse;
    }
}

.container {
    margin-top: 50px;
    margin-bottom: 220px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    @media screen and (min-width: 600px) {
        margin-bottom: 180px !important;
    }

    .title {
        font-family: 'Amatic SC', cursive;
        text-align: center;
        color: white;
        margin-bottom: 10px;
        font-size: 50px;
    }

    .tags-section {
        .tags-title {
            margin-top: 10px;
            margin-bottom: 5px;
            font-family: 'Space Mono', monospace;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
        }

        .tags {
            margin: 0;
            padding: 0;
            right: 24px;
            bottom: -14px;
            list-style: none;
        }

        .tags li, .tags a {
            float: left;
            line-height: 24px;
            position: relative;
            font-size: 12px;
            font-family: 'Space Mono', monospace;
        }

        .tags a {
            padding: 0 12px 0 10px;
            cursor: pointer;
            color: #fff;
            background-color: rgba(6, 27, 59, 0.3411764706);
            text-decoration: none;
            margin: 2px;
            -moz-border-radius-bottomright: 30px;
            -webkit-border-bottom-right-radius: 30px;
            border-bottom-right-radius: 30px;
            -moz-border-radius-topright: 10px;
            -webkit-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
            -moz-border-radius-bottomleft: 4px;
            -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .tags a:hover {
            color: rgb(35, 255, 0);
        }

        .tags a:hover:before {
            border-color: transparent #1540ce transparent transparent;
        }
    }
}

.footer-section {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid rgba(245, 243, 243, 0.1607843137);
    border-bottom: 1px solid rgba(245, 243, 243, 0.1607843137);
    margin-bottom: 10px;
}

.ReactBash {
    min-height: 400px;
    font-family: 'Share Tech Mono', monospace !important;

    @media screen and (min-width: 600px) {
        font-size: 15px !important;
    }

    *:focus {
        outline: none;
    }

    div:first-child {
        background-color: rgb(16, 71, 202) !important;
    }

    div:nth-child(2) {
        background-color: rgba(0, 0, 0, 0.56) !important;

        :not([id]) {
            background-color: rgb(6, 27, 59) !important;
            color: rgb(35, 255, 0) !important;
        }

        div {
            span {
                color: rgb(35, 255, 0) !important;
            }
        }

        form {
            span {
                color: rgb(35, 255, 0) !important;
            }
        }
    }
}
