:root {
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #dbdbdb;
  background: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #216acb;
}

#root {
  width: 100%;
  min-height: 100vh;
}
